
/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/* =============================================================
   GENERAL STYLES
 ============================================================ */
body {
    font-family: 'Open Sans', sans-serif;
    padding-bottom:72px;
   
}
.basic-set {
    padding-top:50px;
    padding-bottom:80px;
    font-size:18px;
}
.head-line {
    font-size:30px;
    color:#f00;
    padding-bottom:60px;
    text-transform:uppercase;
    font-weight:800;
}
    .head-line span {
        color:#000;
    }
.black-btn {
    background-color: #000000;
    border-color: #FF0000;
}
    .black-btn:hover {
        background-color: #000000;
        border-color: #FF0000;
    }
/* =============================================================
   NAVBAR STYLES
 =========================================================== */

.navbar {
border-radius: 0px;
margin-bottom: 0px;
border: 0px solid transparent;
}

.navbar-inverse {
    background-color: #0E0E0E;
border-top: 1px solid #000;
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color:#f00;
    }
    .navbar-inverse .navbar-nav > li > a {
        color:#fff;
        font-size:16px;
        padding:30px 20px;
    }
.navbar-toggle {
    margin-bottom: 30px;
}
#nav-wrapper {
left: 10;
width: 100%;
z-index: 999;
bottom:0px;
position: fixed;
background-color: #ffffff;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}

/* =============================================================
   ABOUTME SECTION STYLES
 ============================================================ */
.txt-block {
    padding-bottom:180px;
}


/* =============================================================
   JUST TEXT SECTION STYLES
 ============================================================ */
#Just-text {
      background-color:#000;
}
.mid-txt {
    padding-top:40px;
    padding-bottom:40px;
    font-size:30px;
    font-weight:900;
    color:#fff;
}

/*==========================================
   GALLERY/ PORTFOLIO STYLES
    =====================================================*/

#Experience {
    padding-top: 10px; 
    min-height:550px;
}
.experience-item {
    border:2px solid #f00;
    margin:3px;
}
    .experience-item p {
        padding:12px;
        color:#fff;
        line-height:25px;
    }

.experience-item .overlay {
   
  background-color: #000;
  text-align: center;
  padding-bottom:30px;
  
}

/*==========================================
   GALLERY/ PORTFOLIO FILTER STYLES
    =====================================================*/
ul#filters {
	padding: 0px;
}
#filters {
	margin: 3% 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
	#filters li {
		display: -webkit-inline-box;
	}
	#filters li span {
		display: block;
		padding: 4px 4px;
		text-decoration: none;
		color: #d51111;
		cursor: pointer;
		font-size: 18px;
	}
    #Experience .experience-item {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		width: 100%;		
		float:left;
		overflow:hidden;
        display:none;
	}

/* =============================================================
   CONTACT SECTION STYLES
 ============================================================ */
#contact-sec {
    background-image: url("../img/contact.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
    -webkit-background-size: cover;
    color:#fff;
}
    #contact-sec .overlay {
        background-color:rgba(0, 0, 0, 0.5);
        min-height: 300px;

    }
    #contact-sec .social {
        padding-top:30px;

    }
#contact-sec .social a {
    font-size:25px; 
    padding:10px 30px;
    text-decoration:none;
    color:#fff;
    display:block;
    max-width:200px;
    margin-bottom:20px;
}

    #contact-sec h2 {
        font-weight:900;
        color:#f00;
    }

.banner{
    padding-bottom:160px;
    background-color: #ffe2bb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-info img {
    width: 1920px;
    height: 630px;
}
.logo-info img{
    width: 30px;
    height: 25px;
}
.banner1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner1 img {
    width: 1920px;
    height: 150px;
}
